<body>

    <div class="container-fluid">
        <h1 class="text-center mt-5 display-3 fw-bold">Our <span class="theme-text">Services</span></h1>
        <hr class="mx-auto mb-5 w-25">
        <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="../../../assets/11.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center"> <b>Social Media Marketing </b> </h3>
                        <hr class="mx-auto w-75">
                        <p>
                            
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="../../../assets/22.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center"> <b>Web and mobile Development </b></h3>
                        <hr class="mx-auto w-75">
                        <p>
                     
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="../../../assets/33.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center"> <b>Graphic Design</b></h3>
                        <hr class="mx-auto w-75">
                        <p>
                            
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="../../../assets/44.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center"> <b>  SEO Web </b> </h3>
                        <hr class="mx-auto w-75">
                        <p>
       
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
        </div>
    </div>


</body>

