<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../../assets/log.png" alt="">


  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav menu" *ngIf="!token">
      <li class="nav-item ">
        <a class="nav-link" href="/"><i class="fa fa-home fa-2x" style="font-size:24px" aria-hidden="true"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerlinkactive="active" href="/service"><i class="fa fa-cogs" style="font-size:24px"></i>
          Services </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerlinkactive="active" href="/contact"><i class="fa fa-phone" style="font-size:24px"></i>
          Contact</a>
      </li>

    </ul>

    <ul class="navbar-nav menu" *ngIf="token">
      <li class="nav-item " *ngIf="team=='true'">
        <a class="nav-link" href="/dashboard"><i class="fa fa-home fa-2x" style="font-size:24px" aria-hidden="true"></i> Dashboard
        </a>
      </li>

      <li class="nav-item " *ngIf="team=='true'">
        <a class="nav-link" href="/newproject"><i class="fa fa-home fa-2x" style="font-size:24px" aria-hidden="true"></i> New Project
        </a>
      </li>

    </ul>

    <div id="log" *ngIf="!token">
      <ul class="nav navbar-nav navbar-right">

        <li class="nav-button"><a class="nav-link" href="/login"><i class="fa fa-user-circle-o" style="font-size:24px"></i> Login</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="nav-button"> <a class="nav-link" href="/singup"><i class="fa fa-sign-in" aria-hidden="true" style="font-size:24px"> </i> sign up </a></li>

      </ul>
    </div>
    <div id="logout" *ngIf="token">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-button"><a class="nav-link" href="/login" (click)="logout()"><i class="fa fa-user-circle-o" style="font-size:24px"></i> Logout</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="team!='true'">
        <li class="nav-button"><a class="nav-link" href="/motivation" > <i class="fa fa-gift"style="font-size:24px"></i> Motivation</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="team!='true'">
        <li class="nav-button"><a class="nav-link" href="/prefrence" > <i class="fa fa-heart"style="font-size:24px"></i> Prefrence</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="team!='true'">
        <li class="nav-button"><a class="nav-link" href="/conference" ><i class="fa fa-calendar"style="font-size:24px"></i> Meeting</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="team!='true'">
        <li class="nav-button"><a class="nav-link" href="/project" ><i class="fa fa-commenting"style="font-size:24px"></i> Project</a></li>
      </ul>
    </div>
  </div>
</nav>