
<html>
   
   <body>
   <div class="loginBox">
       <img src="../../../assets/user.png" class="user">
       <h2>sign up Here</h2>
       <form>
       <p>UserName</p>
           <input type="text" name ="username" [(ngModel)]="username" placeholder="UserName">
         <p>Email</p>
           <input type="text" name ="email" [(ngModel)]="email" placeholder="Enter Email">
           <p>Password</p>
           <input type="password" name = "password" [(ngModel)]="password" placeholder="Enter Password">
           <input type="submit" value="sign up" (click)="register()">
           
           </form>
   </div>
   </body>
</html>
                                       
