<body>
    <br>
    
    <h1> <i class="fa fa-gift"style="font-size:36px"></i> We have a little gift for you <i class="fa fa-gift"style="font-size:36px"></i> </h1> 
    <br>
    
    <h2> 
          1. You're going to kill it today
    </h2>
    <p>
           we love this phrase because it puts you in the right mindset. You will kill it today. You can push yourself harder and finish that monumental task you're facing.
    </p>
    
    <h2>
        
            2.Think outside of the box
      </h2>
      <p>
            There's a reason this phrase exists. Creative thinking is what can help you form a strategy in business that actually works, rather than relying on the same old approach.
      </p>
      <h2> 
           3.You are surrounded by a smart team to help you achieve great success
      </h2>
    <p>
           Look around you. Make sure you take account of your employees and co-workers and the skills they offer, because they can help you press ahead and succeed.</p> <br>
      <h1> 
            Alwayes remember that you are strong and smart    <i class="fa fa-child" style="font-size:36px"></i><br> <br></h1>
      
      <br>
    </body>
    