<html>
<body>
    <div class="hero">
        <div class="bubbles">
            <img src="../../../assets/bubble.png">
            <img src="../../../assets/bubble.png">
            <img src="../../../assets/bubble.png">
            <img src="../../../assets/bubble.png">
            <img src="../../../assets/bubble.png">
            <img src="../../../assets/bubble.png">
            <img src="../../../assets/bubble.png">
        </div>
        <div class="content">
            <h2>Welcome to our family guys</h2>
            <h1>Here we<br> will get closer </h1>
        
        </div>
        



    </div>
</body>
</html>

